.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 630px;
    height: 400px;
    margin: 0 auto;
}
.container-fluid{
  background-color: #ADD633;
}


#container{
  position: inline-block;
  background-color: #D4A800;
}

#map, #map1, #map2, #map3,#map4{
  text-align: center;
  width: 500px;
  height: 400px;
  padding-left: 200px;
  margin: 0 auto;
}
#map4{
  padding-left: 200px;
  width: 500px;
  height: 400px;
  margin: 60px 160px;
}

 .table {
    width: 100%;
    background-color: #6976F4;
}

.reviews .reviews1{
  display: inline-block;
}

.row1, .row2, .row3, .row4, .row5{
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
.btn-success {
  border-radius: 7px;
}

#headerDirections{
  text-align: center;
  color: green;
}
#createMaps{
  width: 400px;
  height: 45px;
  background-color: #33ccff;
  color: white;
  border-radius: 8px;
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 0px;
}
#SubmitButton{
  padding-left: 450px;
}

/*Pop Up CSS*/
      /* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding: 20px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
#box{
    padding: 5px 100px;
}
.btn1{
  background-color: #ffff80;
  border-radius: 7px;
  margin: 0 auto;
}
h1, h2{
  color: green;
  text-align: center;
}
  